// Font Families
$ff-main: "Alegreya", sans-serif;
$ff-todo: "Bad Script", sans-serif;

// Font Sizes
$fs-header: 2.5rem;
$fs-lists: 1.5rem;
$fs-todos: 1.25rem;
$fs-delete-options: 0.85rem;

// Colors
$color-danger: #bb2124;
$color-success: #22bb33;
