/*
Grab partials
*/
@use "variables";
@import "mixins/all.scss";
@import "extends/all.scss";

/*
==============
Global Styles
==============
*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img,
svg,
picture,
video {
	display: block;
	max-width: 100%;
}

html {
	font-family: "Alegreya", sans-serif;
}

body {
	min-height: 100vh;
	background-color: variables.$color-bg;
	display: grid;
	row-gap: variables.$space-xl;
	place-items: center;
	grid-template-columns:
		minmax(150px, 300px) minmax(25px, 50px) minmax(400px, 1fr)
		200px;
	grid-template-rows: minmax(0, 50px) 300px 300px minmax(0, 100px);

	grid-template-areas:
		"clock header header ."
		"list-items . main ."
		"list-items . main ."
		". . . .";
}

/*
============================
End Global Styles
============================
============================
Template Styles
============================
*/

.company-logo {
	grid-area: header;
	padding-top: variables.$space-md;
}

.all-lists {
	overflow-y: auto;
	grid-area: list-items;
	margin-left: variables.$space-md;
	@include card;

	.lists {
		list-style: circle;
		font-size: variables.$fs-md;
		line-height: variables.$space-xl;

		.list-name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			opacity: 50%;

			&.active-list {
				opacity: 100%;
				color: variables.$color-success;
			}

			&:hover {
				opacity: 90%;
				scale: 1.05;
			}
		}
	}

	.new::placeholder {
		opacity: 40%;
	}
}

.todo-list {
	position: relative;
	grid-area: main;
	@include card;
	overflow: auto;

	h2 {
		text-align: center;
	}
}

.todo-container {
	display: flex;
	font-family: variables.$ff-todo;
	font-size: fs-sm;
	flex-direction: column;
	padding: variables.$space-md;
	margin-bottom: variables.$space-sm;
	border: 1px dashed rgba(0, 0, 0, 0.2);
}

.user-inputs {
	@extend %input-box;
}

.delete-options {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: variables.$fs-xs;
	padding-top: variables.$space-sm;

	button {
		// flex: 1;
		border: 0;
		background-color: transparent;
		transition: color 1s ease-in;
	}

	.remove:hover {
		@include delete-options;
	}

	.delete:hover {
		@include delete-options($theme: variables.$color-danger);
	}
}

.btn {
	width: variables.$space-xl;
	height: variables.$space-xl;
	padding: 0.25em;
	border-radius: 50%;
	border: 1px solid #dadfea;
	cursor: pointer;

	&:hover {
		scale: 115%;
	}
}

.todo-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: variables.$color-input;
	padding: variables.$space-xxs;
	margin-bottom: variables.$space-xs;
	gap: variables.$space-md;

	[data-delete-task] {
		border: none;
		padding-right: variables.$space-xxs;
		background-color: transparent;
		cursor: pointer;

		&:hover {
			scale: 110%;
			color: variables.$color-danger;
		}
	}
}
