/*
Grab partials
*/
@use "variables";
@import "mixins/all.scss";

/*
==============
Global Styles
==============
*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img,
svg,
picture,
video {
	display: block;
	max-width: 100%;
}

html {
	font-family: "Alegreya", sans-serif;
}

body {
	min-height: 100vh;
	overflow: hidden;
	background-color: #f2fdff;
	display: grid;
	row-gap: 2em;
	place-items: center;
	grid-template-columns:
		minmax(150px, 300px) minmax(25px, 50px) minmax(400px, 1fr)
		200px;
	grid-template-rows: minmax(0, 50px) 300px 300px minmax(0, 100px);

	grid-template-areas:
		"clock header header ."
		"list-items . main ."
		"list-items . main ."
		". . . .";
}

/*
============================
End Global Styles
============================
============================
Template Styles
============================
*/

.company-logo {
	grid-area: header;
	padding-top: 1em;
}

.all-lists {
	overflow-y: auto;
	grid-area: list-items;
	@include card;

	h2 {
		font-size: 2.5em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 0.45em;
	}

	.lists {
		list-style: none;
		font-size: 1.2em;
		line-height: 2em;
	}

	.new::placeholder {
		opacity: 40%;
	}
}

.todo-list {
	grid-area: main;
	@include card;

	h2 {
		text-align: center;
	}
}

.todo-items {
	display: flex;
	font-family: variables.$ff-todo;
	font-size: variables.$fs-todos;
	flex-direction: column;
	align-items: center;
	height: 80%;
	overflow-y: auto;
	border: 1px dashed rgba(0, 0, 0, 0.2);
	padding: 1em;
	margin-bottom: 0.85em;
}

.delete-options {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	font-size: variables.$fs-delete-options;
	padding-top: 0.85em;

	.remove:hover {
		@include delete-options;
	}

	.delete:hover {
		@include delete-options($theme: variables.$color-danger);
	}
}
