@use "../variables";

%input-box {
	display: flex;
	gap: 0.85em;

	input {
		order: 2;
		min-width: 60%;
		background-color: transparent;
		padding-left: 0.5em;
		border: 0;
		border-bottom: 1px solid variables.$color-accent;
		transition: scale 2ms ease;
	}
}
