@use "../variables";

%input-box {
	display: flex;
	gap: variables.$space-sm;

	input {
		order: 2;
		min-width: 60%;
		background-color: transparent;
		padding-left: variables.$space-xs;
		border: 0;
		border-bottom: 1px solid variables.$color-accent;
	}
}
